.post__input {
  width: 100%;
  height: auto;
  background-color: transparent;
  line-height: normal;
  padding: 0.4em 0;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2em;
  text-align: center;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1em solid white;
}

.post__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
