#div2,
#div3,
#div4 {
  display: none;
}

.question {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
}

.question__text {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  color: white;
  padding-bottom: 0.5em;
}

.question__form {
  display: flex;
  justify-content: center;
}

.question__input {
  width: 100%;
  height: auto;
  background-color: transparent;
  line-height: normal;
  padding: 0.4em 0;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2em;
  text-align: center;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1em solid white;
}

.question__btn {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.question .question__btn .question__btn-reset {
  display: inline-block;
  border: none;
  padding: 2rem 2rem;
  margin-right: 0.5em;
  border-radius: 32px;
  text-decoration: none;
  background: white;
  color: #202123;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/icon-reset-on-light.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.question .question__btn .question__btn-next {
  display: inline-block;
  border: none;
  padding: 2rem 2rem;
  margin-left: 0.5em;
  border-radius: 32px;
  text-decoration: none;
  background: white;
  color: #202123;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/icon-arrow-right-on-light.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.question .question__btn .question__btn-reset:hover,
.question .question__btn .question__btn-reset:focus {
  background-image: url("../images/icon-reset-on-dark.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #202123;
}

.question .question__btn .question__btn-next:hover,
.question .question__btn .question__btn-next:focus {
  background-image: url("../images/icon-arrow-right-on-dark.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #202123;
}

/* button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
} */

/* @keyframes nameAni {
  from {
opacity: 0;
  }
  to {
opacity: 1;
  }
}

.question__name {
  animation: nameAnim .5s ease-in-out forwards;
} */
