@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Rubik:300,400,500&display=swap&subset=korean");
/* @import "/templates/static/css/reset.css";
@import "/templates/static/css/question.css";
@import "/templates/static/css/weather.css";
@import "/templates/static/css/background.css";
@import "/templates/static/css/left.css";
@import "/templates/static/css/todo.css";
@import "/templates/static/css/post.css";
@import "/templates/static/css/vanilla-calendar-min.css"; */

html,
body {
  height: 100vh;
}

body {
  background-color: black;
  overflow: hidden;
}

.contents {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -0;
}
