<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <title>레디 투 트립에 오신 걸 환영해요!</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="contents">
      <div class="weather">
        <div class="weather__icon">
          <img src="./images/icon-sun.svg" alt="sun" />
        </div>
        <div class="weather__text">
          <div class="weather__temp">
            <h6>22</h6>
            <p>°C</p>
          </div>
          <div class="weather__city">
            <p>서울</p>
          </div>
        </div>
      </div>
      <div class="question">
        <div class="question__contents">
          <!-- <div class="question__name">
            <h1 class="question__text">
              반가워요, 이름이 뭐에요?
            </h1>
            <form class="question__form">
              <input type="text" />
            </form>
          </div> -->
          <div class="question__city">
            <h1 class="question__text">
              언제 여행을 떠나세요?
            </h1>
            <form class="question__form">
              <input
                id="exampleDate"
                class="datepicker"
                name="date"
                type="text"
                value="2020년 9월 24일"
                data-value="2020-12-24"
              />
            </form>
          </div>
          <div class="question__btn">
            <button
              type="button"
              class="question__btn-button"
              onClick="location.href='./left-day.html'"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script src="../templates/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../templates/js/date.js"></script>
    <script src="../templates/js/Lightweight-jQuery-Date-Input-Picker/lib/picker.js"></script>
    <script src="../templates/js/Lightweight-jQuery-Date-Input-Picker/lib/picker.date.js"></script>
    <script src="../templates/js/Lightweight-jQuery-Date-Input-Picker/lib/legacy.js"></script>
    <script src="../templates/js/Lightweight-jQuery-Date-Input-Picker/lib/translations/ko_KR.js"></script>
  </body>
</html>
