<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <title>레디 투 트립에 오신 걸 환영해요!</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="contents">
      <div class="todo">
        <!-- 날짜 -->
        <div class="subtitle">
          <p>2020.9.24</p>
        </div>
        <!-- 카드 -->
        <div class="card">
          <button
            type="button"
            class="card__delete"
            onClick="location.href='./left-day.html'"
          ></button>
          <a href="index.html" class="header__back-btn">
            <div class="card__image"></div>
          </a>
          <div class="card__disscription">
            <p>발리 여행 공항픽업, 유심, 시내투어까지 저렴하게 예약하는법</p>
          </div>
        </div>
        <!-- 카드 -->
        <div class="card">
          <button
            type="button"
            class="card__delete"
            onClick="location.href='./left-day.html'"
          ></button>
          <a href="index.html" class="header__back-btn">
            <div class="card__image"></div>
          </a>
          <div class="card__disscription">
            <p>발리 여행 공항픽업, 유심, 시내투어까지 저렴하게 예약하는법</p>
          </div>
        </div>
        <!-- 카드 -->
        <div class="card">
          <button
            type="button"
            class="card__delete"
            onClick="location.href='./left-day.html'"
          ></button>
          <a href="index.html" class="header__back-btn">
            <div class="card__image"></div>
          </a>
          <div class="card__disscription">
            <p>발리 여행 공항픽업, 유심, 시내투어까지 저렴하게 예약하는법</p>
          </div>
        </div>
        <!-- 날짜 -->
        <div class="subtitle">
          <p>2020.9.25</p>
        </div>
        <!-- 카드 -->
        <div class="card">
          <button
            type="button"
            class="card__delete"
            onClick="location.href='./left-day.html'"
          ></button>
          <a href="index.html" class="header__back-btn">
            <div class="card__image"></div>
          </a>
          <div class="card__disscription">
            <p>발리 여행 공항픽업, 유심, 시내투어까지 저렴하게 예약하는법</p>
          </div>
        </div>
        <!-- 카드 -->
        <div class="card">
          <button
            type="button"
            class="card__delete"
            onClick="location.href='./left-day.html'"
          ></button>
          <a href="index.html" class="header__back-btn">
            <div class="card__image"></div>
          </a>
          <div class="card__disscription">
            <p>발리 여행 공항픽업, 유심, 시내투어까지 저렴하게 예약하는법</p>
          </div>
        </div>
      </div>
      <div class="weather">
        <div class="weather__icon">
          <img src="./images/icon-sun.svg" alt="sun" />
        </div>
        <div class="weather__text">
          <div class="weather__temp">
            <h6>34</h6>
            <p>°C</p>
          </div>
          <div class="weather__city">
            <p>발리</p>
          </div>
        </div>
      </div>
      <div class="question">
        <div class="day">
          <div class="day__label">
            <span class="day__label-city">발리</span>
            <span>여행까지 남은 날</span>
          </div>
          <div class="day__count">
            <span class="day__left-number">100</span>
            <span class="day__left-text">일</span>
          </div>
        </div>
        <div class="question__contents">
          <div class="question__city">
            <h1 class="question__text">
              어떤 추억을 만들고 싶으세요?
            </h1>
            <form class="question__form">
              <input
                type="text"
                placeholder="웹 사이트 주소를 붙여넣어 주세요."
              />
            </form>
          </div>
          <div class="question__btn">
            <button type="button" class="question__btn-button"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
